@import "bootstrap.css";

.container-fluid.head {
    background-image: url("/img/bgheader.jpg");
    background-position: center;
    background-position: top;
    background-size: cover;
    padding-bottom: 170px;
}

.container.head {
    height: 278px;
    z-index: 1;
    position: relative;
}

.row.header {
    height: 279px;
}

.logo {
    margin-top: 57px;
}

.logo p {
    color: #fff; /* text color */
    font-family: "League Gothic";
    font-size: 48px;
    letter-spacing: -0.6px;
    text-shadow: 0 2px 2px rgba(0,0,0,.3); /* drop shadow */
}

.logo span {
    color: #533a5e; /* text color + gradient overlay */
    font-family: 'League Gothic';
    font-size: 48px;
    letter-spacing: -0.6px;
}

.mainmenu {
    float: right;
    margin-right: -36px;
    margin-top: 69px;
    height: 40px;
    box-sizing: border-box;
}

.mainmenu ul {
    font-size: 0;
}

.mainmenu li {
    display: inline-block;
    margin: 0 26px;
}

.mainmenu a {
    display: inline-block;
    text-decoration: none;
    color: #fff; /* text color */
    font-family: "League Gothic";
    font-size: 24px;
    letter-spacing: -0.2px;
    text-shadow: 1px 2px 2px rgba(0,0,0,.4); /* drop shadow */
}

.mainmenu li:hover {
    border-bottom: solid 2px #edbfff;
}

/*-- dropmenu --*/

.dropmenu {
    display: block;
}

.dropmenu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.dropmenu a {
    text-decoration: none;
    outline: none;
}

.topmenu {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin: 10px 0;
}

.topmenu li {
    display: inline-block;
    position: relative;
    width: 210px;
    height: 42px;

}
.topmenu > li > a{
    color: #fff; /* text color */
    font-family: "League Gothic";
    border-bottom: solid 2px #edbfff;
    font-size: 24px;
    padding: 0 6px;
    text-transform: uppercase;
    position: relative;
}

.topmenu li:hover {
    opacity: .9; /* layer alpha */
    border: 1px solid #041016; /* stroke */
    background: rgba(53,41,61,1);
    -webkit-border-radius: 10px 10px 0 0;/*Safari, Chrome*/
    -moz-border-radius: 10px 10px 0 0;/*Firefox*/
    border-radius: 10px 10px 0 0;
}

.submenu {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    width: 210px;
    top: 41px;
    left: -1px;
    -webkit-transform: scale(.8);
    -moz-transform: scale(.8);
    transform: scale(.8);
    -webkit-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
}
.submenu > li {
    display: block;
    opacity: 0.8; /* layer alpha */
    border: 1px solid #041016; /* stroke */
    background: rgba(53,41,61,1);
}

li:hover > .submenu {
    visibility: visible;
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
}
.submenu li a {
    color: #fff; /* text color */
    font-family: "League Gothic";
    font-size: 24px;
    padding: 5px 0;
    margin: 0 10px;
    display: block;
    text-transform: uppercase;
}
.submenu li:hover {
    opacity: 1;
    -webkit-border-radius: 0;/*Safari, Chrome*/
    -moz-border-radius: 0;/*Firefox*/
    border-radius: 0;
    border-bottom: solid 2px #edbfff;
}

.bottom {
    -webkit-border-radius: 0 0 10px 10px;/*Safari, Chrome*/
    -moz-border-radius: 0 0 10px 10px;/*Firefox*/
    border-radius: 0 0 10px 10px;
}

li .bottom:hover {
    opacity: 1;
    border-bottom: solid 2px #edbfff;
    -webkit-border-radius: 0 0 10px 10px;/*Safari, Chrome*/
    -moz-border-radius: 0 0 10px 10px;/*Firefox*/
    border-radius: 0 0 10px 10px;
}


/*-- Slider --*/

.slider {
    background: rgba(0,0,0,0.2);
}

.title .lorem {
    color: #fefefe; /* text color */
    font-family: "League Gothic";
    font-size: 60px;
    text-shadow: 0 2px 2px rgba(0,0,0,.3); /* drop shadow */
}

.title p {
    color: #edbfff; /* text color */
    font-family: "League Gothic";
    font-size: 32px;
    text-shadow: 0 2px 2px rgba(0,0,0,.3); /* drop shadow */
    white-space: nowrap; /* Отменяем перенос текста */
    overflow: hidden; /* Обрезаем содержимое */
}

.text1 {
    color: #fefefe; /* text color */
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    text-shadow: 0 2px 2px rgba(0,0,0,.3); /* drop shadow */
    overflow: hidden; /* Обрезаем содержимое */
}

.iphone {
    margin-top: -18px;
    padding-left: 37px;
    max-width: 434px;
    min-width: 217px;
    overflow: hidden;
}

.iphone img {
    max-width: 100%;
}

.container-fluid.group1 {
    border-top: solid 1px #332539;
    border-bottom: ridge 2px #1c2e37;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzMxMjUzOSIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzc0NTA4MyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+); /* gradient overlay */
    background-image: -moz-linear-gradient(bottom, #312539 0%, #745083 100%); /* gradient overlay */
    background-image: -o-linear-gradient(bottom, #312539 0%, #745083 100%); /* gradient overlay */
    background-image: -webkit-linear-gradient(bottom, #312539 0%, #745083 100%); /* gradient overlay */
    background-image: linear-gradient(bottom, #312539 0%, #745083 100%); /* gradient overlay */
}

.about1, .about2, .about3 {
    margin: 70px 0 70px 36px;
}

.about1::before, .about2::before, .about3::before {
    height: 32px;
    width: 32px;
    content: "";
    position: absolute;
    display: block;
    margin-left: -40px;
    background-image: url("/img/icons.png");
}

.about1 h1, .about2 h1, .about3 h1 {
    color: #fff; /* text color */
    font-family: "League Gothic";
    font-size: 30px;
    text-shadow: 0 1px 0 #0e1418; /* drop shadow */
}

.about1 p, .about2 p, .about3 p {
    height: 104px;
    overflow: hidden; /* Обрезаем содержимое */
    color: #fff; /* text color */
    font-family: "OpenSans", sans-serif;
    font-size: 16px;
    text-shadow: 0 1px 0 #0e1418; /* drop shadow */
}

.about1 a, .about2 a, .about3 a {
    float: right;
    color: #fff; /* text color */
    font-family: "League Gothic";
    font-size: 18px;
    text-shadow: 0 1px 0 #0e1418; /* drop shadow */
    text-decoration: none;
}

.about1 a:hover, .about2 a:hover, .about3 a:hover {
    text-shadow: 0 0 8px rgba(255,255,255,.8);
}

.about2::before {
    background-position: 64px 0;
}

.about3::before {
    background-position: 32px 0;
}

.container-fluid.group2 {
    background-color: #f9f9f9; /* color overlay */
    border-bottom: ridge 2px #f9f9f9;
}

.logos1, .logos2, .logos3, .logos4, .logos5, .logos6 {
    height: 112px;
    width: 112px;
    background-image: url("/img/logos.png");
    margin: 0 auto;
}

.logos2 {
    background-position: 560px;
}

.logos3 {
    background-position: 448px;
}

.logos4 {
    background-position: 336px;
}

.logos5 {
    background-position: 224px;
}

.logos6 {
    background-position: 112px;
}

.container-fluid.group3 {
    background-color: #ececec;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=16, Direction=84, Color=#000000)";/*IE 8*/
    -moz-box-shadow: -1px 10px 16px -8px rgba(0,0,0,0.5);/*FF 3.5+*/
    -webkit-box-shadow: -1px 10px 16px -8px rgba(0,0,0,0.5);/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
    box-shadow: -1px 10px 16px -8px rgba(0,0,0,0.5);/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=16, Direction=135, Color=#000000); /*IE 5.5-7*/
}

.container-fluid.footer {
    background-image: url("/img/bgfooter.jpg");
    background-position: center;
    background-position: top;
    background-size: cover;
}

.cssarrow {
    position: relative;
    background: #FFFFFF;
    width: auto;
    word-wrap: break-word;
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05); /* drop shadow */
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05); /* drop shadow */
    box-shadow: 0 1px 2px rgba(0,0,0,.05); /* drop shadow */
    margin: 90px 20px;
}

.cssarrow::before {
    height: 51px;
    width: 50px;
    content: "";
    position: absolute;
    display: block;
    margin-left: -25px;
    margin-top: 18px;
    background-image: url("/img/menphoto.png");
}

.cssarrow::after {
    top: 100%;
    right: 62px;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    margin-right: 0px;
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
    border-style: solid;
    border-width: 30px 0px 0 45px;
    border-color: #ffffff transparent transparent transparent;
}

.cssarrow p {
    padding: 0 40px 40px 40px;
    color: #454545; /* text color */
    font-family: "OpenSans", sans-serif;
    font-size: 16px;
    text-shadow: 0 1px 0 #fff; /* drop shadow */
}

.cssarrow h1 {
    color: #454545; /* text color */
    font-family: "League Gothic";
    font-size: 30px;
    text-shadow: 0 1px 0 #fff; /* drop shadow */
    padding-top: 32px;
    padding-left: 40px;
}

.starts {
    color: #edbfff; /* text color */
    font-family: "League Gothic";
    font-size: 30px;
    text-shadow: 0 1px 0 #fff; /* drop shadow */
}

.blog {
    margin: 100px 10px 0 74px;
}

.blog h1 {
    color: #454545; /* text color */
    font-family: "League Gothic";
    font-size: 30px;
    text-shadow: 0 1px 0 #fff; /* drop shadow */
    margin-left: -60px;
}

.blog a {
    color: #454545; /* text color */
    font-family: "League Gothic";
    font-size: 18px;
    text-shadow: 0 1px 0 #fff; /* drop shadow */
    float: right;
    text-decoration: none;
}

.blog a:hover {
    text-shadow: 0 0 8px rgba(7,7,7,.8); /* drop shadow */;
}

.post1 h3, .post2 h3, .post3 h3 {
    color: #454545; /* text color */
    font-family: "OpenSans", sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-shadow: 0 1px 0 #fff; /* drop shadow */
}

.post1 p, .post2 p, .post3 p {
    height: 40px;
    color: #454545; /* text color */
    font-family: "OpenSans", sans-serif;
    font-size: 16px;
    text-shadow: 0 1px 0 #fff; /* drop shadow */
    overflow: hidden
}

.post1:before, .post2::before, .post3::before {
    height: 49px;
    width: 49px;
    content: "";
    position: absolute;
    display: block;
    margin-left: -64px;
    background-image: url("/img/blogimg.png");
}

.post2:before {
    background-position: 0 98px;
}

.post3:before {
    background-position: 0 49px;
}

.btcont2 h1, .btcont3 h1 {
    color: #454545; /* text color */
    font-family: "League Gothic";
    font-size: 30px;
    text-shadow: 0 1px 0 #fff; /* drop shadow */
}

.btcont1, .btcont2, .btcont3 {
    margin: 100px 0;
}

.btcont1 p {
    height: 87px;
    color: #454545; /* text color */
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    text-shadow: 0 1px 0 #fff; /* drop shadow */
    overflow: hidden
}

.btcont2 p, .btcont3 p {
    height: 156px;
    color: #454545; /* text color */
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    text-shadow: 0 1px 0 #fff; /* drop shadow */
    overflow: hidden
}

.ping p {
    color: #454545; /* text color */
    font-family: "League Gothic";
    font-size: 48px;
    text-shadow: 0 1px 0 #fff; /* drop shadow */
}

.ping span {
    color: #b8b8b8; /* text color */
    font-family: "League Gothic";
    font-size: 48px;
    text-shadow: 0 1px 0 #fff; /* drop shadow */
}

i {
    margin: 10px 0;
}

.btcont1 .copy {
    margin: -27px 0 18px 0;
    height: 100%;
    color: #c5c5c5; /* text color */
    font-family: "Georgia";
    font-size: 16px;
    font-style: italic;
    text-shadow: 0 1px 0 #fff; /* drop shadow */
}

.footmenu {
    margin: 50px 0 50px -20px;
}

.footmenu ul {
    font-size: 0;
    padding: 0;
}

.footmenu li {
    display: inline-block;
    margin: 0 22px;
}

.footmenu a {
    display: inline-block;
    text-decoration: none;
    color: #fff; /* text color */
    font-family: "League Gothic";
    font-size: 20px;
    text-shadow: 1px 2px 2px rgba(0,0,0,.4); /* drop shadow */
}

.footmenu a:hover {
    text-shadow: 0 0 8px rgba(255,255,255,.8);
}

.copyright {
    float: right;
    color: #fff; /* text color */
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    text-shadow: 1px 2px 2px rgba(0,0,0,.4); /* drop shadow */
    margin: 60px -14px 50px 0;
}

@media only screen and (max-width: 991px) {
    .mainmenu {
        float: left;
        margin-left: -65px;
        margin-top: 0;
    }
    .cssarrow::after {
        display: none;
    }
    .text1 p {
        height: 90px;
    }
    .copyright {
        margin: 0 0 50px 0;
    }
}

@media only screen and (max-width: 767px) {
    .logo p {
        text-align: center;
    }
    .title {
        margin-top: 10px;
    }
    .title .lorem {
        font-size: 50px;
    }
    .title p {
        font-size: 28px;
    }
    .iphone {
        max-width: 285px;
        min-width: 180px;
    }
}

@media only screen and (max-width: 607px) {
    .footmenu {
        margin: 50px auto;
    }
    .footmenu ul {
        text-align: center;
    }
    .footmenu li {
        margin: 0 8px;
        display: inline-block;
    }
    .copyright {
        float: none;
        margin: 0 0 50px 0;
        text-align: center;
    }
    .title .lorem {
        font-size: 36px;
    }
    .title p {
        font-size: 18px;
    }
}

@media only screen and (max-width: 460px) {
    .footmenu, .iphone {
        display: none;
    }

    .copyright {
        margin: 40px 0 100px 0;
    }

    .slider .col-xs-6 {
        width: 100%;
    }

    .container.head {
        height: 220px;
    }

    .slider {
        background: none;
    }

    .title {
        text-align: center;
    }
    .title .lorem {
        margin-bottom: -10px;
    }
    .cssarrow p {
        height: 154px;
        overflow: hidden;
    }
}


